body {
  font-family: 'Verdana';
  background-color: #e0efed;
  margin: 0;
  padding: 0;
}
#main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
#header {
    background-color: #9de1db;
    text-align: right;
    margin-bottom: 20px;
}
.journal {
    color: #3b9c9c;
    margin: 0;
    font-size: 24px;
}
.subtitle{
    font-size: 12px;
    margin: 0;
    color: #3b9c9c;
}
#main-content {
    display: flex;
    justify-content: space-between;
}
#sidebox {
    width: 25%;
    height: 120px;
    background-color: #9de1db;
    padding: 15px;
    margin-top: 0;
    border: 5px solid #7cc7c2;
}
#sidebox p{
    margin-top: 0;
    color: #3b9c9c;
    padding-left: 10px;
    font-size: 22px;
}
#sidebox ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
    font-family: timesnewroman;
    color: darkred;
    text-decoration: none;
}
.second{
    color: white;
}
#entries {
    width: 70%;
}
.entry-box {
    border: 2px solid #a3d5cf;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e7f6f5;
    height: 200px;
}
.entry-box2 {
    border: 2px solid #a3d5cf;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e7f6f5;
    height: 270px;
}
.date {
    color: #2e8b8b;
    font-size: 22px;
}
.entry-image {
    float: right;
    width: 170px;
    height: auto;
    margin-left: 4px;
    position: relative;
    top: -40px;
}
p {
    line-height: 1.4;
}
.firstp{
    width: 450px;
    color: #9a2a2a;
}
